/* Global =============================================== */
:root {
    --dark-blue: #363f5f;
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.5s;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: #f0f5f0;
    font-family: 'Poppins', 'sans-serif';
}

body.dark {
    background: #30352e;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles ================================================ */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);

    font-weight: normal;
}

/* Links & Buttons ======================================= */
a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: red;
    border: 2px red solid;
    border-radius: 0.25rem;
    transition: 0.3s;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.button.cancel:hover {
    background-color: red;
    color: white;
}

/* Header ================================================ */
header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

body.dark header {
    background: #111a12;
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #eaffe9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body.dark .toggle {
    background: #30352e;
}

.toggle:before {
    content: '\f186';
    font-family: fontAwesome;
    color: var(--green);
}

body.dark .toggle:before {
    content: '\f185';
    color: #fff;
}

/* Balance =============================================== */
#balance {
    margin-top: -5rem;  /* Penetra a parte verde do header */
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* Cards ================================================= */
.card {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    cursor: default;
    color: var(--dark-blue);
    transition: transform 0.2s ease, background 0.5s;
}

body.dark .card {
    background: #1c241b;
    color: #fff;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;                      /*elementos alinhados*/
    align-items: center;                /*alinha horizontalmente*/
    justify-content: space-between;     /*um elemento em cada canto*/
}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

/* ============================= */

#incomeDisplay {
    color: #12A454;
}

#expenseDisplay {
    color: #E83F5B;
}

/* ============================= */

.card.total {
    color: #fff;
}

.card.total.neutral {
    background: #7a7a7a;
}

.card.total.positive {
    background: #008000;
}

.card.total.negative {
    background: #f83f3f;
}

body.dark .card.total.neutral {
    background: #4d4d4d;
}

body.dark .card.total.positive {
    background: #004900;
}

body.dark .card.total.negative {
    background: #a32626;
}

/* Table ================================================= */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color:  #3a3a3a;
}

body.dark #data-table {
    color: #fff;
}

table thead tr th:first-child,      /* first-child pega o primeiro elemento do tipo*/
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,      /* last-child pega o último elemento do tipo*/
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background: #fff;

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;
}

body.dark table th {
    background: #1c241b;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
    cursor: default;
}

table tbody td {
    background: #fff;
    padding: 1rem 2rem;
}

body.dark table tbody td {
    background: #1c241b;
}

td.description {
    color: var(--dark-blue);
}

body.dark td.description {
    color: #fff;
}

td.income {
    color: #12a454;
}

td.expense {
    color: var(--red);
}

#remove-transaction:hover {
    cursor: pointer;
}

/* Modal ================================================= */
.modal-overlay {            /* Véu preto na tela */
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {     /* Adicionar JavaScript */
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2F5;
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}

body.dark .modal {
    background: #1c241b;
}

body.dark .modal h2 {
    color: #fff;
}

body.dark .modal input {
    background: #576353;
    color: #fff;
}

body.dark .modal input::placeholder {
    color: #fff;
}

body.dark .modal small {
    color: #fff;
}

/* Form ================================================== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;

    font-family: 'Poppins', 'sans-seriff';
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
    font-family: 'Poppins', 'sans-seriff';
}


/* Footer ================================================ */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    background: #f0f5f0;

    opacity: 0.6;
}

body.dark footer {
    background: #30352e;
    color: #afafaf;
}

/* Responsive ================================================ */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);      /* == fr fr fr */
        gap: 2rem;
    }

}